<header><h1>Welcome to the Pokédex!</h1></header>
<nav>
  <a href="/" class="row"> 
    <img src="img/ball/lure.png" class="pokeball">
    <h3> I Choose You </h3>
  </a> | 
  <a href="/sound" class="row">
    <img src="img/ball/moon.png" class="pokeball">
    <h3> Sound Enthusiast </h3>
  </a> | 
  <a href="/spelling" class="row">
    <img src="img/ball/level.png" class="pokeball">
    <h3> Spelling Bee</h3>
  </a>
</nav>